  <ion-view>
 <div class="bar bar-header bar-calm">
 	<h1 class="title">Pagina de Inicio</h1>
 </div>
 <ion-content>
 	<div class="padding">
 		<h2 class="text-center">
 		Primera Pagina
 		</h2>
 		<h4 class="text-center">
 			En esta app puede ver el ejemplo de crear una
 			aplicacion con Ionic
 		</h4>
 		<p class="text-center">
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolore excepturi nam tenetur aliquam, maiores natus corporis asperiores alias sunt cupiditate, et consequatur accusamus dolor rem consequuntur molestias. Necessitatibus, quasi.
 		</p>
 		<button class="button button-block button-royal" ng-click="go('vista2')">
 			Ir a la segunda pagina
 		</button>
 		<button class="button button-block button-energized" ng-click="go('vista3')">
 			Ir a la tercera pagina
 		</button>
 	</div>
 </ion-content>
 </ion-view>