<!-- <div><h1>Bienvenido</h1>
<button class="button button-calm" ui-sref="vista1">
         Otra vez  ( ͡° ͜ʖ ͡°) 
      </button>
<div class="bar bar-footer">
  <button class="button button-clear">Left</button>
  <div class="title text-primary">FOOTER</div>
  <button class="button button-clear">Right</button>
</div>
</div> -->
 <ion-view>
 <div class="bar bar-herader bar-royal">
 	<h1 class="title">Segunda Pagina</h1>
 </div>
 <ion-content>
 	<div class="padding">
 	<h2 class="text-center">
 		Segunda Pagina
 	</h2>
 		<button class="button button-block button-royal" ui-sref="vista1">
 			Ir al Inicio
 		</button>
 		<button class="button button-block button-royal" ui-sref="vista3">
 			Ir a la tercera pagina
 		</button>
 		
 	</div>
 </ion-content>
 </ion-view>