 <ion-view>
 <div class="bar bar-header bar-calm">
 	<h1 class="title">Tercera Pagina</h1>
 </div>
 <ion-content>
 	<div class="padding">
 		<h1 class="text-center">
 			Tercera Pagina
 		</h1>
 		<h4 class="text-center">
 			Metete el dedo
 		</h4>
 		<p class="text-center">
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolore excepturi nam tenetur aliquam, maiores natus corporis asperiores alias sunt cupiditate, et consequatur accusamus dolor rem consequuntur molestias. Necessitatibus, quasi.
 		</p>
 		<button class="button button-block button-royal" ng-click="$state.go('vista1')">
 			Ir a la primera pagina
 		</button>
 		<button class="button button-block button-royal" ng-click="$state.go('vista2')">
 			Ir a la segunda pagina
 		</button>
 		<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Ver Email
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Llamar a mamá
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Escuchar Juanga
    <span class="item-note">
      Caile
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div>
 	</div>
 </ion-content>
 </ion-view>